.welcome {
    color: brown;
}

img {
    width: 300px;
    margin-top: 20px;
}

.button { 
padding-left: 10px;
width: 200px;
color: blueviolet;
text-align: center;
border: 4px;
border-radius: 10px;
font-size: 28px;
}
